<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/927c6837-eae6-44a0-9db2-236e9ab10b2d/resourcegroups/CONTROLANTIBIOTICOS-CNS/providers/Microsoft.Web/sites/PRIII-24CONTROLANTIBIOTICOS20241111152932</ResourceId>
    <ResourceGroup>CONTROLANTIBIOTICOS-CNS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://priii-24controlantibioticos20241111152932.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>e1f3d2e6-89a6-484c-9cfc-11766a97a32f</ProjectGuid>
    <MSDeployServiceURL>priii-24controlantibioticos20241111152932.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PRIII-24CONTROLANTIBIOTICOS20241111152932</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$PRIII-24CONTROLANTIBIOTICOS20241111152932</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>